body {
  background-color: #bbbbbb;
  margin: 0;
  padding: 0;
}

.containerRow {
  display: flex;
  flex-grow: 1;
}

.containerCol {
  display: flex;
  flex-direction: column;
}

.bio {
  flex-grow: 1;
  background-color: #3296ff;
  align-items: stretch;
}

.info {
  flex-grow: 3;
  background-color: #bbbbbb;
  margin-left: 20px;
}

.contact {

}

p {
  margin: 0;
}

select {
  font-size: 2em;
}

.photo {
  display: flex;
  margin: 10px;
  justify-content: center;
}
  
header {
  background-color: #3296ff;
  margin: 0; 
  padding: 30px;
}

.votingHistory {
  float: right;
}

.votegraph {
  width: 25px;
}
