<!DOCTYPE html>
<html>
<head>
  <title>Project 3</title>
</head>
<body>
  <h1>Project 3</h1>
  
<form action="/" method="post">
  <select name="state">
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
  </select>
  <button>Submit</button>
</form>

<button action="/results" method="post" id="learn-more">Learn More</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
